body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #4da3ff;
}

.file-flex {
    display: grid;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.file-button {
    display: block;
    padding: 10px;
    margin: 5px 0;
    background-color: #49495d;
    color: #dae0e6;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file-button:hover {
    background-color: #ddd1d1;
    color: #1f1b1b;
}

.search-form {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.search-label {
    margin-bottom: 5px;
    margin-right: 10px;
    color: #ccc;
    font-size: 1.3em;
}

.search-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    width: 250px;
    max-width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: #4da3ff;
}

#drop_zone {
    border: 2px dashed #606060;
    width: 300px;
    height: 200px;
    text-align: center;
    line-height: 200px;
    color: #cccccc;
    margin-top: 20px;
    position: relative;
}

#drop_zone.dragover {
    background-color: #3a3a3a;
    border-color: #4da3ff;
}

#drop_zone_icon {
    font-size: 48px;
    color: #cccccc;
}

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #4a6070;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@media (min-width: 1200px) {
    .file-flex {
        grid-template-columns: repeat(10, 1fr); /* Máximo de 10 archivos por fila */
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .file-flex {
        grid-template-columns: repeat(8, 1fr); /* Máximo de 8 archivos por fila */
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .file-flex {
        grid-template-columns: repeat(6, 1fr); /* Máximo de 6 archivos por fila */
    }
}

@media (max-width: 767px) {
    .file-flex {
        grid-template-columns: repeat(4, 1fr); /* Máximo de 4 archivos por fila */
    }
}