<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE PASS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/basics.css')}}">
    
</head>
<body>
    <h1>Archivos!</h1>
    <form id="search-form" class="search-form" action="" method="GET" onsubmit="return false;">
        <label class="search-label" for="file-search-input">Nombre archivo</label>
        <input class="search-input" type="text" name="file-search" id="file-search-input" oninput="filterFiles()">
    </form>
    <div class="file-flex" id="file-list">
        {% for path in files %}
            <a class="file-button" href="./download/{{path}}">{{path}}</a>
        {% endfor %}
    </div>

    <h2>Subir Archivo</h2>
    <div id="drop_zone">
        <div id="drop_zone_icon">📁</div>
    </div>
    
    <div>
        <h3>Archivos en Download</h3>
            <ul>
                {% for name in download_files %}
                    <li>{{name}}</li>
                {% endfor %}
            </ul>
    </div>
    <div id="toast">Archivo recibido correctamente</div>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
