<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FILE PASS</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/basics.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Archivos en la API!</h1>
    <form id="search-form" class="search-form" action="" method="GET" onsubmit="return false;">
        <label class="search-label" for="file-search-input">Nombre archivo</label>
        <input class="search-input" type="text" name="file-search" id="file-search-input" oninput="filterFiles()">
    </form>
    {% include 'provideditemslist.html' %}
    <h2>upload file</h2>
    <div id="drop_zone">
        <div id="drop_zone_icon">📁</div>
    </div>
    <div>
        <h3>files in download</h3>
        <ul>
            {% for providedItem in provided_items_uploads %}
                <li>{{ providedItem.name }} ({{providedItem.birth_date_str}})</li>
            {% endfor %}
        </ul>
    </div>
    <script src="{{url_for('static', filename='js/index.js')}}"></script>
</body>
</html>
